version: "3.8"
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    privileged: true
    network_mode: host

  esphome:
    image: ghcr.io/esphome/esphome
    container_name: esphome
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - ./esphome/config:/config
      - /etc/localtime:/etc/localtime:ro

networks:
  homelab-network:
    external: true
